<template>
  <div>
    <div>
      <h3>Enter your patientId to find cancer providers near you</h3>
      <input v-model="patientId">
      <button type="button" @click="getProvidersForPatient()" class="btn btn-outline-primary">Get Providers</button>
    </div>
    <div>
      <div class="provider" v-for="p in providers">
        <p>Institution: {{ p.institution }}</p>
        <p>Name: {{ p.lastname }}, {{ p.firstname }}</p>
        <p>Address: {{ p.address }}</p>
        <p>{{ p.city }}, {{ p.state }} {{ p.zip }}</p>
        <p>{{ p.country }}</p>
        <p>Phone: {{ p.phone }}</p>
        <p>Email: {{ p.email }}</p>
        <p>Degree: {{ p.degree }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import providerService from '@/services/providers'

export default {
  data () {
    return {
      patientId: '',
      providers: []
    }
  },
  methods: {
    async getProvidersForPatient () {
      this.providers = await providerService.getProviders(this.patientId)
      this.$store.commit('setProviders', this.providers)
      console.log(this.providers)
    }
  }
}
</script>
